.section-name{
    font-weight: 500;
}
.item{
    margin-top: 10px;
    margin-bottom: 15px;
   color: rgb(18 18 18 / 75%);
   a:hover{
    text-decoration: underline;
    cursor: pointer;
   }
}
.icons{
    display: flex;
    justify-content: space-between;
    width: 180px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 12px;
    i:hover{
        font-weight: bold;
        cursor: pointer;
    }
}