<div class="container">
    <div class="row mx-0 mt-5">
        <hr>
    </div>
    <div class="row mx-0">
        <div class="col-lg-3">
            <img class="w-100" src="https://hitechxyz.in/cdn/shop/files/Picsart_23-12-20_13-39-56-199.jpg?v=1703060155&width=520" alt="">
        </div>
        <div class="col-lg-3">
            <div class="section-name mt-2">ABOUT US</div>
            <div class="item">
                <a >About us</a>
            </div>
            <div class="item">
                <a>Contact us</a>
            </div>
            <div class="item">
                <a>Cash on Delivery Information
                </a>
            </div>
            <div class="item">
                <a>Payment Terms</a>
            </div>
        </div>
        <div class="col-lg-3">
             <div class="section-name mt-2">HELP & GUIDE</div>
             <div class="item">
                <a>Delivery Information</a>
             </div>
             <div class="item">
                <a>Privacy Policy</a>
             </div>
             <div class="item">
                <a>Refund & Return Policy</a>
             </div>
             <div class="item">
                <a>Terms & Conditions</a>
             </div>
        </div>
        <div class="col-lg-3">
             <div class="section-name mt-2">OUR SOCIAL LINKS</div>
             <div class="icons">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-youtube" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
             </div>
        </div>
    </div>
    <div class="row mx-0 mt-5">
        <hr>
    </div>
    <div class="row mx-0 mt-5">
        <small style="letter-spacing: .07rem;">SKY RC PVT LTD COMPANY ©All Reserved. 2024, Hi Tech xyz</small>
    </div>
</div>