<div class="container">
    <div class="row mx-0 mt-5 mb-5">
        <div class="section-name">
            <h2>DRONE SERVICES</h2>
        </div>
    </div>
    <div class="row mx-0">
        <ul id="Slider-template--16907417092317__featured_collection_LTzyHp"
            class="grid product-grid contains-card contains-card--product contains-card--standard grid--4-col-desktop grid--2-col-tablet-down"
            role="list" aria-label="Slider">
            <li id="Slide-template--16907417092317__featured_collection_LTzyHp-1" class="grid__item">
                <div class="card-wrapper">
                    <div class="card__media">
                        <div class="media media--transparent media--hover-effect">
                            <img srcset="//hitechxyz.in/cdn/shop/files/InShot_20240529_112151843.jpg?v=1716962417&amp;width=165 165w,//hitechxyz.in/cdn/shop/files/InShot_20240529_112151843.jpg?v=1716962417&amp;width=360 360w,//hitechxyz.in/cdn/shop/files/InShot_20240529_112151843.jpg?v=1716962417&amp;width=533 533w,//hitechxyz.in/cdn/shop/files/InShot_20240529_112151843.jpg?v=1716962417&amp;width=720 720w,//hitechxyz.in/cdn/shop/files/InShot_20240529_112151843.jpg?v=1716962417&amp;width=940 940w,//hitechxyz.in/cdn/shop/files/InShot_20240529_112151843.jpg?v=1716962417&amp;width=1066 1066w,//hitechxyz.in/cdn/shop/files/InShot_20240529_112151843.jpg?v=1716962417 1920w
                            " src="//hitechxyz.in/cdn/shop/files/InShot_20240529_112151843.jpg?v=1716962417&amp;width=533"
                                sizes="(min-width: 1300px) 292px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                alt="Consultation for Drone Checkup" class="motion-reduce" loading="lazy" width="1920"
                                height="1920">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <a class="px-0 card__heading mt-3">Consultation for Drone Checkup</a>
                    </div>

                </div>
                <div class="row mx-0">
                    <div class="value px-0">
                        Rs. 49.00
                    </div>
                </div>
            </li>
            <li id="Slide-template--16907417092317__featured_collection_LTzyHp-1" class="grid__item">
                <div class="card-wrapper">
                    <div class="card__media">
                        <div class="media media--transparent media--hover-effect">
                            <img srcset="//hitechxyz.in/cdn/shop/files/InShot_20240529_110256881.jpg?v=1716961153&amp;width=165 165w,//hitechxyz.in/cdn/shop/files/InShot_20240529_110256881.jpg?v=1716961153&amp;width=360 360w,//hitechxyz.in/cdn/shop/files/InShot_20240529_110256881.jpg?v=1716961153&amp;width=533 533w,//hitechxyz.in/cdn/shop/files/InShot_20240529_110256881.jpg?v=1716961153&amp;width=720 720w,//hitechxyz.in/cdn/shop/files/InShot_20240529_110256881.jpg?v=1716961153&amp;width=940 940w,//hitechxyz.in/cdn/shop/files/InShot_20240529_110256881.jpg?v=1716961153&amp;width=1066 1066w,//hitechxyz.in/cdn/shop/files/InShot_20240529_110256881.jpg?v=1716961153 1920w
                            " src="//hitechxyz.in/cdn/shop/files/InShot_20240529_110256881.jpg?v=1716961153&amp;width=533"
                                sizes="(min-width: 1300px) 292px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                alt="Consult with Drone Expert - 10 min" class="motion-reduce" loading="lazy"
                                width="1920" height="1920">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <a class="px-0 card__heading mt-3">Consult with Drone Expert - 10 min</a>
                    </div>

                </div>
                <div class="row mx-0">
                    <div class="value px-0">
                        Rs. 80.00
                    </div>
                </div>
            </li>
            <li id="Slide-template--16907417092317__featured_collection_LTzyHp-1" class="grid__item">
                <div class="card-wrapper">
                    <div class="card__media">
                        <div class="media media--transparent media--hover-effect">
                            <img srcset="//hitechxyz.in/cdn/shop/files/WhatsAppImage2024-05-21at11.16.05AM.jpg?v=1716270425&amp;width=165 165w,//hitechxyz.in/cdn/shop/files/WhatsAppImage2024-05-21at11.16.05AM.jpg?v=1716270425&amp;width=360 360w,//hitechxyz.in/cdn/shop/files/WhatsAppImage2024-05-21at11.16.05AM.jpg?v=1716270425&amp;width=533 533w,//hitechxyz.in/cdn/shop/files/WhatsAppImage2024-05-21at11.16.05AM.jpg?v=1716270425&amp;width=720 720w,//hitechxyz.in/cdn/shop/files/WhatsAppImage2024-05-21at11.16.05AM.jpg?v=1716270425&amp;width=940 940w,//hitechxyz.in/cdn/shop/files/WhatsAppImage2024-05-21at11.16.05AM.jpg?v=1716270425 1024w
                            " src="//hitechxyz.in/cdn/shop/files/WhatsAppImage2024-05-21at11.16.05AM.jpg?v=1716270425&amp;width=533"
                                sizes="(min-width: 1300px) 292px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                alt="Quotation/Estimate by Drone Expert" class="motion-reduce" loading="lazy"
                                width="1024" height="1024">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <a class="px-0 card__heading mt-3">Quotation/Estimate by Drone Expertp</a>
                    </div>

                </div>
                <div class="row mx-0">
                    <div class="value px-0">
                        Rs. 300.00
                    </div>
                </div>
            </li>
            <li id="Slide-template--16907417092317__featured_collection_LTzyHp-1" class="grid__item">
                <div class="card-wrapper">
                    <div class="card__media">
                        <div class="media media--transparent media--hover-effect">
                            <img srcset="//hitechxyz.in/cdn/shop/files/Designer_9.jpg?v=1721553260&amp;width=165 165w,//hitechxyz.in/cdn/shop/files/Designer_9.jpg?v=1721553260&amp;width=360 360w,//hitechxyz.in/cdn/shop/files/Designer_9.jpg?v=1721553260&amp;width=533 533w,//hitechxyz.in/cdn/shop/files/Designer_9.jpg?v=1721553260&amp;width=720 720w,//hitechxyz.in/cdn/shop/files/Designer_9.jpg?v=1721553260&amp;width=940 940w,//hitechxyz.in/cdn/shop/files/Designer_9.jpg?v=1721553260 1024w
                            " src="//hitechxyz.in/cdn/shop/files/Designer_9.jpg?v=1721553260&amp;width=533"
                                sizes="(min-width: 1300px) 292px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                alt="Drone Workshop" class="motion-reduce" loading="lazy" width="1024" height="1024">

                        </div>
                    </div>
                    <div class="row mx-0">
                        <a class="px-0 card__heading mt-3">Drone Workshop</a>
                    </div>

                </div>
                <div class="row mx-0">
                    <div class="value px-0">
                        Rs. 100.00
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="row mx-0">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="row mx-0">
                <hr>
            </div>
        </div>
        <div class="col-lg-2"></div>
       </div>
</div>