
.slider-container {
    width: 100%;
    height: 150px; /* Height of the slider */
    overflow: hidden; /* Hide overflow */
    position: relative; /* Positioning context for children */
    background-color: #ffffff; /* Dark background for visibility */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    display: flex; /* Align slides in a row */
    animation: scroll 30s linear infinite; /* Animation for scrolling */
    will-change: transform; /* Improve performance */
    align-items: center;
}

/* Stops the animation on hover */
.slider-container:hover .slider {
    animation-play-state: paused; /* Pause the animation on hover */
}

.slide {
    padding: 0 50px; /* Space between each slide */
    color: #ffffff; /* White text color */
    font-size: 24px; /* Font size of the text */
    white-space: nowrap; /* Prevents line breaks */
    img{
        max-width: 190px;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(50); /* Start off-screen to the right */
    }
    100% {
        transform: translateX(-100%); /* End off-screen to the left */
    }
}
