<div class="container">
    <div class="row mx-0 mt-5">
        <div class="section-name">
            <h2>OUR TRUSTED BRANDS</h2>
        </div>
    </div>
    <div class="brands mt-5 mb-5">
        <div class="slider-container">
            <div class="slider">
                <div class="slide">
                    <img src="../../assets/1_1200x1200_1c5229be-eaf5-4b25-b006-a367c008478c.webp" alt="" class="img-fluid">
                </div>
                <div class="slide">
                    <img src="../../assets/3d_flying_bear_logo-_800.png" alt="" class="img-fluid">
                </div>
                <div class="slide">
                    <img src="../../assets/download_3_a616474c-15ca-4268-97bc-7cd0411b2c91.webp" alt="" class="img-fluid">
                </div>
                <div class="slide">
                    <img src="../../assets/EMAX_Logo_1200x628_791164c0-5e87-45d1-be5e-f545e2b58932.webp" alt="" class="img-fluid">
                </div>
                <div class="slide">
                    <img src="../../assets/HGLRC.webp" alt="" class="img-fluid">
                </div>
                <div class="slide">
                    <img src="../../assets/logo.png" alt="" class="img-fluid">
                </div>
                <div class="slide">
                    <img src="../../assets/Social-logo_bba67e7f-3f8c-452e-8fa1-5e7c8a83c907.webp" alt="" class="img-fluid">
                </div>
                <div class="slide">
                    <img src="../../assets/sticker-hq-prop3_1200x1200_603ae782-ea1d-43c1-87b4-0d9c6efb8186.webp" alt="" class="img-fluid">
                </div>
                <div class="slide">
                    <img src="../../assets/1_1200x1200_1c5229be-eaf5-4b25-b006-a367c008478c.webp" alt="" class="img-fluid">
                </div>
                <div class="slide">
                    <img src="../../assets/1_1200x1200_1c5229be-eaf5-4b25-b006-a367c008478c.webp" alt="" class="img-fluid">
                </div>
                <div class="slide">
                    <img src="../../assets/3d_flying_bear_logo-_800.png" alt="" class="img-fluid">
                </div>
                <div class="slide">
                    <img src="../../assets/download_3_a616474c-15ca-4268-97bc-7cd0411b2c91.webp" alt="" class="img-fluid">
                </div>
                <div class="slide">
                    <img src="../../assets/EMAX_Logo_1200x628_791164c0-5e87-45d1-be5e-f545e2b58932.webp" alt="" class="img-fluid">
                </div>
                <div class="slide">
                    <img src="../../assets/HGLRC.webp" alt="" class="img-fluid">
                </div>
                <div class="slide">
                    <img src="../../assets/logo.png" alt="" class="img-fluid">
                </div>
                <div class="slide">
                    <img src="../../assets/Social-logo_bba67e7f-3f8c-452e-8fa1-5e7c8a83c907.webp" alt="" class="img-fluid">
                </div>
                <div class="slide">
                    <img src="../../assets/sticker-hq-prop3_1200x1200_603ae782-ea1d-43c1-87b4-0d9c6efb8186.webp" alt="" class="img-fluid">
                </div>
                <div class="slide">
                    <img src="../../assets/1_1200x1200_1c5229be-eaf5-4b25-b006-a367c008478c.webp" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-0">
        <a class="view-all-btn mx-auto">VIEW ALL</a>
    </div>
</div>