<div class="container">
    <div class="row mx-0 mt-3 mb-5">
        <div class="section-name">
            <h2>DRONE KIT</h2>
        </div>
    </div>
    <div class="row mx-0">
        <ul id="Slider-template--16907417092317__featured_collection_LTzyHp"
            class="grid product-grid contains-card contains-card--product contains-card--standard grid--4-col-desktop grid--2-col-tablet-down"
            role="list" aria-label="Slider">
            <li id="Slide-template--16907417092317__featured_collection_LTzyHp-1" class="grid__item">
                <div class="card-wrapper">
                    <div class="card__media">
                        <div class="media media--transparent media--hover-effect">
                            <img src="https://hitechxyz.in/cdn/shop/files/7.04.jpg?v=1715852268&width=360"alt="Consultation for Drone Checkup" class="motion-reduce" loading="lazy">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <a class="px-0 card__heading mt-3">KK2.1.5 Flight Controller S500 quardcopter with carbon fibre landing gear Drone Kit - Flysk y - i6s</a>
                    </div>

                </div>
                <div class="row mx-0">
                    <div class="value px-0">
                        Rs. 23,032.00
                    </div>
                </div>
            </li>
            <li id="Slide-template--16907417092317__featured_collection_LTzyHp-1" class="grid__item">
                <div class="card-wrapper">
                    <div class="card__media">
                        <div class="media media--transparent media--hover-effect">
                            <img src="https://hitechxyz.in/cdn/shop/files/7.04.jpg?v=1715852268&width=360"alt="Consultation for Drone Checkup" class="motion-reduce" loading="lazy">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <a class="px-0 card__heading mt-3">
                            Pixhawk 2.4.8 Combo Kit Flight Controller With GPS F550 hexacopter Advance Drone Kit - Flysky - i6s
                        </a>
                    </div>

                </div>
                <div class="row mx-0">
                    <div class="value px-0">
                        32,799.00
                    </div>
                </div>
            </li>
            <li id="Slide-template--16907417092317__featured_collection_LTzyHp-1" class="grid__item">
                <div class="card-wrapper">
                    <div class="card__media">
                        <div class="media media--transparent media--hover-effect">
                            <img src="https://hitechxyz.in/cdn/shop/files/7.04.jpg?v=1715852268&width=360"alt="Consultation for Drone Checkup" class="motion-reduce" loading="lazy">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <a class="px-0 card__heading mt-3">Pixhawk 2.4.8 Combo Kit Flight Controller With GPS F550 hexacopter Advance Drone Kit - Flysky - i6x</a>
                    </div>

                </div>
                <div class="row mx-0">
                    <div class="value px-0">
                        Rs. 32,299.00
                    </div>
                </div>
            </li>
            <li id="Slide-template--16907417092317__featured_collection_LTzyHp-1" class="grid__item">
                <div class="card-wrapper">
                    <div class="card__media">
                        <div class="media media--transparent media--hover-effect">
                            <img src="https://hitechxyz.in/cdn/shop/files/7.04.jpg?v=1715852268&width=360"alt="Consultation for Drone Checkup" class="motion-reduce" loading="lazy">
                        </div>
                    </div>
                    <div class="row mx-0">
                        <a class="px-0 card__heading mt-3">
                            Pixhawk 2.4.8 Combo Kit Flight Controller With GPS F550 hexacopter Advance Drone Kit - Without tx
                        </a>
                    </div>

                </div>
                <div class="row mx-0">
                    <div class="value px-0">
                        Rs. 26,999.00
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="row mx-0">
        <a class="view-all-btn mx-auto">VIEW ALL</a>
    </div>
</div>